body {
    background-color: #fff;
}

p {
    margin-bottom: 0.5em;
}

#logo {
    background-image: url(images/logo.png);
    background-size: cover;
    background-position: center bottom;
    height: 500px;
    width: 100%;
}

#logo-box {
    font-family: Georgia;
    font-size: 3em;
    width: 100%;
    text-align: center;
    padding-top: 100px;
}

@media screen {
    body:before {
        display: none;  
    }
}

@media screen and (min-width: 59.6875em) {
    .site {
        max-width: 1100px;
    }
}

/* ---  SECTIONS  ------*/

.section {
    margin: 40px 0px 40px 0px;
}

.section .head {
    padding: 20px 50px 20px 50px;
    /*background-color: #fff4a8;*/
}

.section .body {
    /*background-color: #f00;*/
}

.section .head .icon {
    color: #bbbbbb;
}

.section .head h1 {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: #8ad9fb;
    font-size: 40px;
    font-weight: 800;
    line-height: 1;
}

.section .head em {
    color: #bbbbbb;
}

.section .body p {
    font-style: italic;
}

/* -LEFT*/

.section-left .head {
    float: left;
    border-right: 1px solid #dadada;
    margin-right: 50px;
    text-align: right;
}

.section-left .body {
    padding:  10px 40px 40px 40px;
}

.section-left .icon {
    /*float: right;*/
}

/* -RIGHT*/

.section-right .head {
    float: right;
    border-left: 1px solid #dadada;
    margin-left:  50px;
}

.section-right .body {
    padding:  0px 0px 40px 40px;
    float: right;
    text-align: right;
}
/* --- TIMELINE --- */

.timeline {

}

.timeline-head {
    display: table;
    width: 100%;
}

.timeline-head .icon {
    color: #bbbbbb;
    display: table-cell;
}

.timeline-head .header {
    font-family: Arial;
    font-weight: 700;
    color: #666;
    padding: 0 20px;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    white-space: nowrap;
}

.timeline-head .line {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.timeline ol {
    display: table;
    width: 100%;
    border-spacing: 0px 20px;
    margin-top: 25px;
}

.timeline ol li{
    display: table-row;
}

.timeline .date-container , .timeline .content-container , .timeline .bullet-container {
    display: table-cell;
}

.timeline .date-container {
    width: 150px;
    vertical-align: top;
}

.timeline .date-box {
    background-color: #8ad9fb;
    font-family: 'Open sans', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 0.7em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 45px;
    vertical-align: middle;
    margin-top: 20px;
}

.custom-tooltip span {
    background-color: rgba(255,255,255,0.2);
    height: 45px;
    width: 45px;
    display: block;
    text-align: center;
    line-height: 45px;
    float: left;
    margin-right: 10px;
}

.date-box {
    position: relative;
    line-height: 45px;
}

/* arrow */
.date-box:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #8ad9fb;
	border-width: 4px;
	margin-top: -4px;
}

.bullet-container {
    vertical-align: top;
    width: 100px;
    text-align: center;
    padding-top: 28px;
}

.timeline-item-bullet {
    width: 17px;
    height: 17px;
    border: 2px solid gray;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
}

.timeline-item-bullet-plus {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    background-color: #8ad9fb;
    vertical-align: middle;
    padding-top: 6px;
    color: #fff;
}

.timeline-item-bullet-plus:hover {
    cursor: pointer;
}

.timeline .content-container {
    font-size: 0.8em;
    vertical-align: top;
}

.timeline .content-container h2 {
    font-family: sans-serif;
    font-size: 1.3em;
    margin-bottom: -5px;
}

.timeline .content-container h3 {
    font-family: sans-serif;
    font-size: 1em;
    color: #666;
    line-height: 1em;
    margin: 5px 0;
}

.timeline .content-container em {
    color: gray;
}

.timeline .timeline-rail {
    position: absolute; 
    width: 0px;
    height: 100%; 
    left:199px; 
    border-left: 1px dashed gray; 
    z-index: -1;
}

.timeline .icon-container {
    display: table-cell;
    width: 150px;
    padding: 0 10px;
}

.timeline .icon-container img {
    width: 100%;
}

.timeline .hidden {
    display: none;
    visibility: hidden;
}

/* -- BAR TABLE --- */

.bars-container {
    display: table;
    width: 100%;
    font-size: 0.8em;
}

.section-right .bars-container {
    text-align: left;
}

.bar-item {
    display: table-row;
    line-height: 1.4em;
}

.bar-container {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.bar-description {
    display: table-cell;
    white-space: nowrap;
    padding: 0px 15px;
}

.bar-header {
    display: table-row;
    font-family: sans-serif;
    font-weight: 700;
}

.bar-header .bar-description {
    padding-top: 10px;
}

.bar {
    display: block;
    background-color: #8ad9fb;
    height: 7px;
    width: 1px;
}

.section-right .bar {
    float: right;
}